<template name="basicLayout">
	<!-- <nav class="navbar navbar-inverse slider" role="navigation"> -->
		<!-- {{> yield region="slider"}} -->
		<!-- {{> slider}} -->
	<!-- </nav> -->

	<div class=" slider">
		{{> yield region="slider"}}		
	</div>
	<div class="fullPage landingPage">		
		{{> yield region="home"}}
	</div>
	<div class="menuButton">		
		<i class="fa fa-bars"></i>
	</div>
</template>