.fullPage{
	min-width: 100% !important;
	min-height: 100% !important;
	/*float: left;*/
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main{

}
.menuItem #accordion{
	  margin-left: -15px;
  margin-top: 0px;
}
.menuButton.active{
	left: 270px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.landingPage.active{
	left: 270px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slider{
	z-index: 10;
	width: 90% !important;
	/*float: left;*/
	position: fixed;
	top: 0;
	left: 0;
}
.landingPage{
	z-index: 50;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuButton{
	position: fixed;
	top: 0;
	left: 0;
	font-weight: bold;
	padding: 15px;
	font-size: 20px;
	z-index: 100;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}