<template name="list_company">
	<div class=" list_company overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				Listing Companies
			</h2>
		</div>
        <table class="table well">
            <thead>
                <tr>
                	<th>Edit</th>
                	<th>Delete</th>
                	<th>companyName</th>
					<th>createdAt</th>
					<th>registerationno</th>
					<th>postalcode</th>
					<th>slogan</th>
					<th>panno</th>
					<th>vatno</th>
					<th>servicetaxno</th>
					<th>CompanyLogo</th>
					<th>cityName</th>
					<th>stateName</th>
					<th>countryName</th>
					<th>contactName</th>
					<th>contactDesignation</th>
					<th>company_email</th>
					<th>createrMessage</th>
					<th>address</th>
                	<th class="id">#</th>
                </tr>
            </thead>
            <tbody>
            {{#each compamies}}
                <tr>
                	<td class="Edit" data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td class="Delete" data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></td>
					<td id="companyName" class="companyName" ><p  contenteditable="false">{{companyName}}</p></td>
					<td  class="createdAt">{{createdAt}}</td>
					<td id="registerationno" class="registerationno" ><p contenteditable="false">{{registerationno}}</p></td>
					<td id="postalcode" class="postalcode" ><p contenteditable="false">{{postalcode}}</p></td>
					<td id="slogan" class="slogan" ><p contenteditable="false">{{slogan}}</p></td>
					<td id="panno" class="panno" ><p contenteditable="false">{{panno}}</p></td>
					<td id="vatno" class="vatno" ><p contenteditable="false">{{vatno}}</p></td>
					<td id="servicetaxno" class="servicetaxno" ><p contenteditable="false">{{servicetaxno}}</p></td>
					<td id="CompanyLogo" class="CompanyLogo" ><p contenteditable="false" >{{CompanyLogo}}</p></td>
					<td id="cityName" class="cityName" ><p contenteditable="false">{{cityName}}</p></td>
					<td id="stateName" class="stateName" ><p contenteditable="false">{{stateName}}</p></td>
					<td id="countryName" class="countryName" ><p contenteditable="false">{{countryName}}</p></td>
					<td id="contactName" class="contactName" ><p contenteditable="false">{{contactName}}</p></td>
					<td id="contactDesignation" class="contactDesignation" ><p contenteditable="false">{{contactDesignation}}</p></td>
					<td id="company_email" class="company_email" ><p contenteditable="false">{{company_email}}</p></td>
					<td id="createrMessage" class="createrMessage" ><p contenteditable="false">{{createrMessage}}</p></td>
					<td id="address" class="address" ><p  contenteditable="false">{{address}}</p></td>
                	<td class="id">{{_id}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
		    
	</div>
</template>