<template name="createInvoice">
	<div class="container listInvoice overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				Create Invoice
			</h2>
		</div>
		<div class="container">
			<div class="row">
			  	<div class="col-xs-12 col-sm-12  col-md-8  col-lg-8">
			    	<div class="panel panel-default">
			      		<div class="panel-heading resume-heading">
			        		<div class="row">
			          			<div class="col-lg-12">
			            			<div class="col-xs-12 col-sm-4">
			              				<figure>
			                				<img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
			              				</figure>
			              			</div>
						            <div class="col-xs-12 col-sm-8">
						              	<ul class="list-group">
				                			<li class="list-group-item">Company Name</li>
				                			<li class="list-group-item">Date</li>
				                			<li class="list-group-item">Invoice Number </li>
				                			<li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
				                			<li class="list-group-item"><i class="fa fa-envelope"></i> john@example.com</li>
				              			</ul>
				            		</div>
				          		</div>
				        	</div>
				      	</div>
				    	<div class="row">
				  			<div class="col-xs-12 col-sm-12 col-lg-12">
				            	<div class="col-xs-12 col-sm-6">
				            		<div class="bs-callout bs-callout-danger">
							        	<h4>Summary</h4>
							        	<p>
							         		Lopersecuti mediocritatem ei.			      
							        	</p>
						      		</div>
				  				</div>
					  			<div class="col-xs-12 col-sm-6">
					  				<div class="bs-callout bs-callout-danger">
								        <h4>Research Interests</h4>
								        <p>
								          	Evolutionary Algorithms.
								        </p>
							      	</div>
					  			</div>
					    	</div>
					    </div>  
					    <div class="bs-callout bs-callout-danger">
					        <table class="table table-striped table-responsive ">
					          	<thead>
						            <tr>
						            	<th>Item</th>
						            	<th>Qty</th>
						            	<th>Rate</th>
						            	<th>Amt</th>
						            	<th>x</th>
						          	</tr>
					          	</thead>
					          	<tbody>
					            	<tr>
					              		<td>
					              			<input type="text"/>									
					              		</td>
					              		<td>
					              			<input type="number" value="0">
					              		</td>
					              		<td>
					              			<input type="number" value="0">				             		
					              		</td>
					              		<td>
					              			<div id="multiple">0</div>
					              		</td>
					              		<td>x</td>
					            	</tr>
					            	<tr>
					            		<td colspan="4" >
					            			<button id="AddMoreItem" class="col-xs-12">
												Add More Item
					            			</button>
					            		</td>
					            	</tr>
					            	<tr>
					              		<td>
					              		</td>
					              		<td>
					              		</td>
					              		<td>
					              			Sub Total
					              		</td>
					              		<td>
					              			0
					              		</td>
					              		<td>Rs.</td>
					            	</tr>
					            	<tr>
					              		<td>
					              		</td>
					              		<td>
					              		</td>
					              		<td>
					              			Tax
					              		</td>
					              		<td>
					              			0
					              		</td>
					              		<td>%</td>
					            	</tr>
					            	<tr>
					              		<td>
					              		</td>
					              		<td>
					              		</td>
					              		<td>
					              			Shipping
					              		</td>
					              		<td>
					              			0
					              		</td>
					              		<td>%</td>
					            	</tr>
					            	<tr>
					              		<td>
					              		</td>
					              		<td>
					              		</td>
					              		<td>
					              			Total
					              		</td>
					              		<td>
					              			0
					              		</td>
					              		<td>Rs.</td>
					            	</tr>
					            	<tr>
					            		<td colspan="4" >Notes
					            			<input id="" class="col-xs-12">
					            		</td>
					            	</tr>
					            	<tr>
					            		<td colspan="4" >Terms
					            			<input id="" class="col-xs-12">
					            		</td>
					            	</tr>
					          	</tbody>
					        </table>
				      	</div>
			    	</div>
			  	</div>
				<div class="col-xs-12 col-sm-12  col-md-4  col-lg-4">	
					<div class="invoice-controls visible-md visible-lg">
						<div class="btns clearfix">
							<p>
								<button class="btn btn-info btn-lg btn-block" ng-disabled="invoiceForm.$invalid" ng-click="emailModal()" tabindex="1050" disabled="disabled">
									Send Invoice
								</button>
							</p>
							<p>
								<button class="btn btn-link btn-lg btn-block" ng-disabled="invoiceForm.$invalid" ng-click="savePDF()" tabindex="1051" disabled="disabled">
									<span class="ion-arrow-down-c"></span> Download Invoice
								</button>
							</p>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">Select Company</div>
							<div class="panel-body">
								<select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="invoice.fields.discounts" tabindex="1055">
									<option value="">x</option>
									<option value="">y</option>
									<option value="">z</option>
								</select>
							</div>
						</div>
						<div class="panel panel-default">

							<div class="panel-heading">Currency</div>
								<div class="panel-body">
									<select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="invoice.currency" ng-options="c.name as c.label for c in currencies" tabindex="1052"><option value="0" label="AED - د.إ">AED - د.إ</option><option value="1" label="AFN - ؋">AFN - ؋</option><option value="2" label="ALL - Lek">ALL - Lek</option><option value="3" label="ANG - ƒ">ANG - ƒ</option><option value="4" label="ARS - $">ARS - $</option><option value="5" label="AUD - $">AUD - $</option><option value="6" label="AWG - ƒ">AWG - ƒ</option><option value="7" label="AZN - ман">AZN - ман</option><option value="8" label="BAM - KM">BAM - KM</option><option value="9" label="BBD - $">BBD - $</option><option value="10" label="BDT - Tk">BDT - Tk</option><option value="11" label="BGN - лв">BGN - лв</option><option value="12" label="BMD - $">BMD - $</option><option value="13" label="BND - $">BND - $</option><option value="14" label="BOB - $b">BOB - $b</option><option value="15" label="BRL - R$">BRL - R$</option><option value="16" label="BSD - $">BSD - $</option><option value="17" label="BTC - BTC">BTC - BTC</option><option value="18" label="BWP - P">BWP - P</option><option value="19" label="BYR - p.">BYR - p.</option><option value="20" label="BZD - BZ$">BZD - BZ$</option><option value="21" label="CAD - $">CAD - $</option><option value="22" label="CHF - CHF">CHF - CHF</option><option value="23" label="CLP - $">CLP - $</option><option value="24" label="CNY - ¥">CNY - ¥</option><option value="25" label="COP - p.">COP - p.</option><option value="26" label="CRC - ₡">CRC - ₡</option><option value="27" label="CUP - ₱">CUP - ₱</option><option value="28" label="CZK - Kč">CZK - Kč</option><option value="29" label="DJF - CHF">DJF - CHF</option><option value="30" label="DKK - kr">DKK - kr</option><option value="31" label="DOP - RD$">DOP - RD$</option><option value="32" label="EGP - £">EGP - £</option><option value="33" label="EUR - €">EUR - €</option><option value="34" label="FJD - $">FJD - $</option><option value="35" label="FKP - £">FKP - £</option><option value="36" label="GBP - £">GBP - £</option><option value="37" label="GGP - £">GGP - £</option><option value="38" label="GIP - £">GIP - £</option><option value="39" label="GMD - GMD">GMD - GMD</option><option value="40" label="GTQ - Q">GTQ - Q</option><option value="41" label="GYD - $">GYD - $</option><option value="42" label="HKD - HK$">HKD - HK$</option><option value="43" label="HNL - L">HNL - L</option><option value="44" label="HRK - kn">HRK - kn</option><option value="45" label="HUF - Ft">HUF - Ft</option><option value="46" label="IDR - Rp">IDR - Rp</option><option value="47" label="ILS - ₪">ILS - ₪</option><option value="48" label="IMP - £">IMP - £</option><option value="49" label="INR - ₹">INR - ₹</option><option value="50" label="IRR - ﷼">IRR - ﷼</option><option value="51" label="ISK - kr">ISK - kr</option><option value="52" label="JEP - £">JEP - £</option><option value="53" label="JMD - J$">JMD - J$</option><option value="54" label="JPY - ¥">JPY - ¥</option><option value="55" label="KES - KSh">KES - KSh</option><option value="56" label="KGS - лв">KGS - лв</option><option value="57" label="KHR - ៛">KHR - ៛</option><option value="58" label="KPW - ₩">KPW - ₩</option><option value="59" label="KRW - ₩">KRW - ₩</option><option value="60" label="KYD - $">KYD - $</option><option value="61" label="KZT - лв">KZT - лв</option><option value="62" label="LAK - ₭">LAK - ₭</option><option value="63" label="LBP - £">LBP - £</option><option value="64" label="LKR - ₨">LKR - ₨</option><option value="65" label="LRD - $">LRD - $</option><option value="66" label="LTL - Lt">LTL - Lt</option><option value="67" label="LVL - Ls">LVL - Ls</option><option value="68" label="LYD - LD">LYD - LD</option><option value="69" label="MKD - ден">MKD - ден</option><option value="70" label="MNT - ₮">MNT - ₮</option><option value="71" label="MUR - ₨">MUR - ₨</option><option value="72" label="MXN - $">MXN - $</option><option value="73" label="MYR - RM">MYR - RM</option><option value="74" label="MZN - MT">MZN - MT</option><option value="75" label="NAD - $">NAD - $</option><option value="76" label="NGN - ₦">NGN - ₦</option><option value="77" label="NIO - C$">NIO - C$</option><option value="78" label="NOK - kr">NOK - kr</option><option value="79" label="NPR - ₨">NPR - ₨</option><option value="80" label="NZD - $">NZD - $</option><option value="81" label="OMR - ﷼">OMR - ﷼</option><option value="82" label="PAB - B/.">PAB - B/.</option><option value="83" label="PEN - S/.">PEN - S/.</option><option value="84" label="PHP - ₱">PHP - ₱</option><option value="85" label="PKR - ₨">PKR - ₨</option><option value="86" label="PLN - zł">PLN - zł</option><option value="87" label="PYG - Gs">PYG - Gs</option><option value="88" label="QAR - ﷼">QAR - ﷼</option><option value="89" label="RON - lei">RON - lei</option><option value="90" label="RSD - Дин.">RSD - Дин.</option><option value="91" label="RUB - руб">RUB - руб</option><option value="92" label="SAR - ﷼">SAR - ﷼</option><option value="93" label="SBD - $">SBD - $</option><option value="94" label="SCR - ₨">SCR - ₨</option><option value="95" label="SEK - kr">SEK - kr</option><option value="96" label="SGD - $">SGD - $</option><option value="97" label="SHP - £">SHP - £</option><option value="98" label="SOS - S">SOS - S</option><option value="99" label="SRD - $">SRD - $</option><option value="100" label="SVC - $">SVC - $</option><option value="101" label="SYP - £">SYP - £</option><option value="102" label="THB - ฿">THB - ฿</option><option value="103" label="TND - DT">TND - DT</option><option value="104" label="TRY - TRY">TRY - TRY</option><option value="105" label="TTD - TT$">TTD - TT$</option><option value="106" label="TVD - $">TVD - $</option><option value="107" label="TWD - NT$">TWD - NT$</option><option value="108" label="TZS - TSh">TZS - TSh</option><option value="109" label="UAH - ₴">UAH - ₴</option><option value="110" label="UGX - USh">UGX - USh</option><option value="111" selected="selected" label="USD - $">USD - $</option><option value="112" label="UYU - $U">UYU - $U</option><option value="113" label="UZS - лв">UZS - лв</option><option value="114" label="VEF - Bs">VEF - Bs</option><option value="115" label="VND - ₫">VND - ₫</option><option value="116" label="XAF - XAF">XAF - XAF</option><option value="117" label="XCD - $">XCD - $</option><option value="118" label="YER - ﷼">YER - ﷼</option><option value="119" label="ZAR - R">ZAR - R</option><option value="120" label="ZWD - Z$">ZWD - Z$</option></select>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">Tax</div>
								<div class="panel-body">
									<select class="form-control ng-pristine ng-valid ng-touched" ng-model="invoice.fields.tax" tabindex="1053">
										<option value="%">% Tax</option>
										<option value="1">Flat Tax</option>
										<option value="0">Off</option>
									</select>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">Shipping</div>
								<div class="panel-body">
									<select class="form-control ng-pristine ng-valid ng-touched" ng-model="invoice.fields.shipping" tabindex="1054">
										<option value="1">On</option>
										<option value="0">Off</option>
									</select>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">Discounts</div>
								<div class="panel-body">
									<select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="invoice.fields.discounts" tabindex="1055">
										<option value="%">% Discount</option>
										<option value="1">Flat Discount</option>
										<option value="0">Off</option>
									</select>
								</div>
							</div>

							
						</div>			
				  	
				</div>  
			</div>
		</div>
	</div>
</template>