<template name="menuItem">
	<div class="container">	
		<div class="row">
	        <div class="col-sm-3 col-md-3">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							  	<a href="/">Trinisoft Billing Software</a>
							</h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						    <h4 class="panel-title">
						      	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						      		<span class=""><i class="fa fa-building"></i></span>
						      	Company
						      	</a>
						    </h4>
					  	</div>
					  	<div id="collapseFour" class="panel-collapse collapse">
						    <ul class="list-group">
								<li class="list-group-item"><a href="/add_company">Add Company</a></li>
							    <li class="list-group-item"> <a href="/list_company">Company List</a></li>

							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						    <h4 class="panel-title">
						      	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
						      		<span class=""><i class="fa fa-building"></i></span>
						      		Items
						      	</a>
						    </h4>
					  	</div>
					  	<div id="collapseFive" class="panel-collapse collapse">
						    <ul class="list-group">
								<li class="list-group-item"><a href="/add_item">Add Items</a></li>
							    <li class="list-group-item"> <a href="/list_item">Item List</a></li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							  	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
							    </span>Bill</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<ul class="list-group">
								<li class="list-group-item"><a href="/create_invoice">Create invoice</a></li>
							    <li class="list-group-item"><a href="/list_invoice">list invoice</a></li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						    <h4 class="panel-title">
						      	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
						        </span>Customer</a>
						    </h4>
					  	</div>
					  	<div id="collapseFour" class="panel-collapse collapse">
						    <ul class="list-group">
								<li class="list-group-item"><a href="">Add Customer</a></li>
							    <li class="list-group-item"><a href="">Edit Customer</a></li>

							    <li class="list-group-item"><a href="">Add Contact</a></li>

							    <li class="list-group-item"> <a href="">Edit Contact</a></li>

							    <li class="list-group-item"> <a href="">Customer List</a></li>

							    <li class="list-group-item"> <a href="">Contact List</a></li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h4 class="panel-title">
					      		<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-heart">
					        	</span>Stock</a>
					    	</h4>
					  	</div>
					  	<div id="collapseFive" class="panel-collapse collapse">
					    	<ul class="list-group">
								<li class="list-group-item"><a href="">Stock Inward Entry</a></li>
							    <li class="list-group-item"><a href="">Stock Outward Entry</a></li>

							    <li class="list-group-item"> <a href="">Stock List</a></li>

							    <li class="list-group-item"> <a href="">Stock Report</a></li>
							</ul>
					  	</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						    <h4 class="panel-title">
						      	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-file">
						        </span>Statement</a>
						    </h4>
					  	</div>
					  	<div id="collapseSix" class="panel-collapse collapse">
						    <ul class="list-group">
								<li class="list-group-item"><a href="">By Customer</a></li>
							    <li class="list-group-item"><a href="">By Sales</a></li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						    <h4 class="panel-title">
						      	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSixAccounts"><span class="glyphicon glyphicon-file">
						        </span>Accounts</a>
						    </h4>
					  	</div>
					  	<div id="collapseSixAccounts" class="panel-collapse collapse">
						    <ul class="list-group">
								<li class="list-group-item">{{> loginButtons}}</li>
							    <li class="list-group-item"><a href="">Logout</a></li>
							    <li id="loginFacebook" class="list-group-item"><a href="">Facebook</a></li>
							    <!-- <li class="list-group-item"><a href="">Google</a></li> -->
							</ul>
						</div>
					</div>
				</div>
	        </div>
	        <div class="col-sm-9 col-md-9">
	          	<!-- <div class="panel panel-default">
	            	<div class="panel-heading">
	              		<h3 class="panel-title">Dashboard</h3>
	           		 </div>
	            	<div class="panel-body">
	              		<p>Admin Dashboard Accordion List Group Menu</p>
	              		<div class="alert alert-success"><h3>Yes! It's compatible with BS 3.0.3, 3.1 & 3.2 </h3></div>
	            	</div>
	          	</div> -->
	        </div>
      	</div>
	</div>
</template>