<template name="listInvoice">
	<div class="container listInvoice overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				List of Invoice
			</h2>
		</div>
		<table>
			<tr>
				<th>Date</th>
				<th>InvoiceNo</th>
				<th>Company</th>
				<th>Amt</th>
			</tr>
			<tr>
				
			</tr>
		</table>
	</div>
</template>