<template name="add_company">
	<div class="container add_company overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				Create a Company
			</h2>
		</div>
		<div class="row error_message">
	      	<div class="col-md-6 col-md-offset-3 ">
	        	<div class="alert-danger">
		        	<div class="alert alert-danger ">
		        	 	<h5></h5>
				    </div>				 	
				</div>
			</div>
		</div>
		<div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="well well-sm">
	          <!-- <form class="form-horizontal" action="" method="post"> -->
	          <fieldset>
	            <legend class="text-center">Identity</legend>
	    
	           <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Name*</label>
		            <div class="col-sm-10">
		              <input type="text" id="companyName" placeholder="Name" value="" class="form-control">
		            </div>
		          </div>

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Slogan</label>
		            <div class="col-sm-10">
		              <input type="text" id="slogan" placeholder="Slogan" class="form-control">
		            </div>
		          </div>

		          
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Logo</label>
		            <div class="col-sm-6">
		              <input type="file" id="CompanyLogo" placeholder="Country" class="form-control">
		            </div>
		             <div class="col-sm-4">
		             	<img src="/images/dummy_logo.png" style="height:50px;width:50px;">
		              <!-- <input type="file" placeholder="Country" class="form-control"> -->
		            </div>
		          </div>

		        <!--   <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		              <div class="pull-right">
		                <button type="submit" class="btn btn-default">Cancel</button>
		                <button type="submit" class="btn btn-primary">Save</button>
		              </div>
		            </div>
		          </div> -->
	    			
	            
	          </fieldset>
	          <!-- </form> -->
	        </div>
	      </div>
		</div>
		<div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="well well-sm">
	          <!-- <form class="form-horizontal" action="" method="post"> -->
	          <fieldset>
	            <legend class="text-center">Confi</legend>
	    
	         

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">PAN</label>
		            <div class="col-sm-9">
		              <input type="text" id="panno" placeholder="PAN number" class="form-control">
		            </div>
		          </div>

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">VAT No</label>
		            <div class="col-sm-9">
		              <input type="text" id="vatno" placeholder="PAN number" class="form-control">
		            </div>
		          </div>
		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">Service Tax No</label>
		            <div class="col-sm-9">
		              <input type="text" id="servicetaxno" placeholder="Service Tax number" class="form-control">
		            </div>
		          </div>
		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">Registeration No</label>
		            <div class="col-sm-9">
		              <input type="text" id="registerationno" placeholder="Registration number" class="form-control">
		            </div>
		          </div>



		        <!--   <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		              <div class="pull-right">
		                <button type="submit" class="btn btn-default">Cancel</button>
		                <button type="submit" class="btn btn-primary">Save</button>
		              </div>
		            </div>
		          </div> -->
	    			
	            
	          </fieldset>
	          <!-- </form> -->
	        </div>
	      </div>
		</div>
		<div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="well well-sm">
	          <!-- <form class="form-horizontal" action="" method="post"> -->
	          <fieldset>
	            <legend class="text-center">Address Details*</legend>
	    
	           <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Address </label>
		            <div class="col-sm-10">
		              <input type="text" id="address" placeholder="Address Line 1" class="form-control">
		            </div>
		          </div>

		          <!-- Text input-->
<!-- 		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Line 2</label>
		            <div class="col-sm-10">
		              <input type="text" placeholder="Address Line 2" class="form-control">
		            </div>
		          </div> -->

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">City</label>
		            <div class="col-sm-10">
		              <input type="text" id="cityName" placeholder="City" class="form-control">
		            </div>
		          </div>

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">State</label>
		            <div class="col-sm-4">
		              <input type="text" id="stateName" placeholder="State" class="form-control">
		            </div>

		            <label class="col-sm-2 control-label" for="textinput">Postcode*</label>
		            <div class="col-sm-4">
		              <input type="text" id="postalcode" placeholder="Post Code" class="form-control">
		            </div>
		          </div>

		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-2 control-label" for="textinput">Country</label>
		            <div class="col-sm-10">
		              <input type="text" id="countryName" placeholder="Country" class="form-control" value="India">
		            </div>
		          </div>

		        <!--   <div class="form-group">
		            <div class="col-sm-offset-2 col-sm-10">
		              <div class="pull-right">
		                <button type="submit" class="btn btn-default">Cancel</button>
		                <button type="submit" class="btn btn-primary">Save</button>
		              </div>
		            </div>
		          </div> -->
	    			
	            
	          </fieldset>
	          <!-- </form> -->
	        </div>
	      </div>
		</div>
		<div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="well well-sm">
	          <!-- <form class="form-horizontal" action="" method="post"> -->
	          <fieldset>
	            <legend class="text-center">Contact</legend>
	    
	            <!-- Name input-->
	            <div class="form-group">
	              <label class="col-md-3 control-label" for="name">Name</label>
	              <div class="col-md-9">
	                <input id="contactName" name="name" type="text" placeholder="Your name" class="form-control">
	              </div>
	            </div>
	    			

		          <!-- Text input-->
		        <div class="form-group">
		        	<label class="col-sm-3 control-label" for="textinput">Designation</label>
		            <div class="col-sm-9">
		              	<input id="contactDesignation" type="text" placeholder="Designation" class="form-control">
		            </div>
		        </div>

	            <!-- Email input-->
	            <div class="form-group">
	              <label class="col-md-3 control-label" for="email">Your E-mail</label>
	              <div class="col-md-9">
	                <input id="company_email" name="email" type="text" placeholder="Your email" class="form-control">
	              </div>
	            </div>
	    		

		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">Signature</label>
		            <div class="col-sm-5">
		              <input type="file" id="signature" placeholder="Country" class="form-control">
		            </div>
		             <div class="col-sm-4">
		             	<img src="/images/dummy_logo.png" style="height:50px;width:50px;">
		              <!-- <input type="file" placeholder="Country" class="form-control"> -->
		            </div>
		          </div>

	            <!-- Message body -->
	            <div class="form-group">
	              <label class="col-md-3 control-label" for="message">Your message</label>
	              <div class="col-md-9">
	                <textarea id="createrMessage" class="form-control"  name="message" placeholder="Please enter your message here..." rows="5"></textarea>
	              </div>
	            </div>
	    
	          </fieldset>
	          <!-- </form> -->
	        </div>
	      </div>
		</div>

		<div class="row">
	      	<div class="col-md-6 col-md-offset-3">
	            <!-- Form actions -->
	            <div class="form-group">
	              	<div class="col-md-12 text-right">
	                	<button type="submit" class="btn btn-primary  submit">Add</button>
	              	</div>
	            </div>
	        </div>
	    </div>
	</div>
</template>