<template name="add_customer">
	<div class="container add_customer" style="height:{{height}}px; width:{{width}}px">
		<div class="container-page">				
			<div class="col-md-12">
				<h3 class="dark-grey text-center">Registration</h3>
				
				<div class="form-group col-lg-12">
					<label>Username</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Address</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Location</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>State</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Pincode</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Phone 1</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Email Id</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Fax No</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Tin No</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Date Posted</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>City</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Country</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Customer Status</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Phone 2</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Email 2</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Fax 2</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Cst No</label>
					<input type="" name="" class="form-control" id="" value="">

					<label>Customer code</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>						
			</div>
		</div>
	</div>
</template>