<template name="createItem">
	<div class="container createItem overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				Create a new item
			</h2>
		</div>
		<div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="well well-sm">
	          <fieldset>
	            <legend class="text-center">Item Details</legend>
	    
	            <!-- Name input-->
	            <div class="form-group">
	              <label class="col-md-3 control-label" for="name">Item Code</label>
	              <div class="col-md-9">
	                <input id="itemCode" name="name" type="text" placeholder="Item Code" class="form-control">
	              </div>
	            </div>

	            <!-- Name input-->
	            <div class="form-group">
	              	<label class="col-md-3 control-label" for="name">Nick name</label>
	              	<div class="col-md-9">
	                	<input id="nickName" name="name" type="text" placeholder="Nick name" class="form-control">
	              	</div>
	            </div>
	    
	            <!-- Message body -->
	            <div class="form-group">
	              <label class="col-md-3 control-label" for="message">Details</label>
	              <div class="col-md-9">
	                <textarea class="form-control" id="itemDetails" name="message" placeholder="Please enter item details here..." rows="5"></textarea>
	              </div>
	            </div>
	    
	            <!-- Form actions -->
	            <div class="form-group">
	              <div class="col-md-12 text-right">
	                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
	              </div>
	            </div>
	          </fieldset>
	        </div>
	      </div>
		</div>
	</div>
</template>