html {
	height: 100%;
}
body {
	height: 100%;
}
.box{
	padding: 0 !important;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.box1{
	background: grey;
}
.box2{
	background: white;
}
.box .box2, .box .box1{
	position: relative;
	min-width: 100px;
	min-height: 100px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media all and (orientation:portrait) {
	body {
		background: #79be6a;
	}
	.box .box1 {
		float: left;
		height: 40%;
		width: 100%;
	}
	.box .box2{
		float: left;
		height: 60%;
		width: 100%;
	}
}
@media all and (orientation:landscape) {
	body {
		background-color: #309ac0;
	}
	.box .box1 {
		width: 40%;
		height: 100%;
		float: left;
	}
	.box .box2{
		width: 60%;
		height: 100%;
		float: left;
	}
}
/*-----------------*/
.navbar{
	margin-bottom: 0px !important;
}
.main{
	padding: 0 !important;
	min-width: 99%;
	min-height: 99%;
	overflow: hidden;
}
.overflowScroll{
	overflow: scroll;
}