<template name="listItem">
	<div class="container listItem overflowScroll" style="height:{{height}}px; width:{{width}}px">
		<div class="text-center">
			<h2>
				List all the item
			</h2>
		</div>
		<div class="row">
			<div class="col-md-3"> Item Code </div>
			<div class="col-md-3"> Nick Name </div>
			<div class="col-md-3"> Item Code </div>
		</div>
	</div>
</template>